body {
		background-color: #EEE;
		font-family: open sans,lato;
		
}
a {
	text-decoration: none;
	
	}
#container{	
		
		
}
p.a{
	font-family: 'Muli', sans-serif;
}
h1.b{
	font-family: 'Muli', sans-serif;
  font-size: 36px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}


.column {
  flex: 25%;
  padding: 0 4px 4px 0;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

#header { 
	background-color: #80aaff;
	color: white;
	text-align: center;
}
.gallery {
	text-align: center;
	font-size: 32px;
	}


.main {    
		text-align: center;
		

}

#footer{
	background-color: #E8E8E8;
	padding: 10px;
	color: black;
	clear: both;
	text-align: right;
	

}
.topnav {
  background-color: #101010;
  overflow: hidden;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Gugi', cursive;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.icon-bar a {
  
  padding: 18px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
  border-radius: 5px;

}


.icon-bar a:hover {
  background-color: #000;
}


.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.instagram {
  background: #bb0000;
  color: white;
}